decord==0.6.0
dominate==2.9.1
einops==0.8.1
ftfy==6.3.1
humanize==4.12.1
ipdb==0.13.13
matplotlib==3.4.2
mmcv_full==1.7.1
moviepy==2.1.2
numpy==1.24.4
omegaconf==2.3.0
opencv_python==4.9.0.80
opencv_python_headless==4.2.0.34
pandas==1.5.3
Pillow==11.1.0
psutil==5.8.0
regex==2023.12.25
scikit_learn==0.24.2
setuptools==60.2.0
termcolor==2.5.0
timm==0.6.12
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.2
tqdm==4.53.0
transformers==4.29.0
wandb==0.16.6
